.container {
    margin: 16px 0;
    font-size: 14px;
    position: relative;

    border-top: 20px solid transparent;

    --field-padding: 16px;
}

.error {
    color: red;
}

.container .field {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFFFFF;
    padding: var(--field-padding);
    border-radius: 3px;
    width: -webkit-fill-available;
    width: -moz-available;
    font-size: 14px;

    border-radius: 16px;
    border: 1px solid #E0E0E0;
}

.container .placeholder {
    position: absolute;
    bottom: 50%;
    top: 22px;
    left: var(--field-padding);
    transform: translateY(-30%);
    width: calc(100% - (var(--field-padding) * 2));
    color: #aaa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: fit-content;

    pointer-events: none;

    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.container .field:focus+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
}

.container .field:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
}