.bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 242px;
    background: var(--banner-background-color);
    border-radius: 32px;
}