.main {
    margin: 0 auto;
    max-width: var(--max-page-width);
    padding: var(--page-content-padding);
    box-sizing: border-box;

    /* quick hack */
    margin-bottom: 48px;
}

.header {
    grid-column: 1 / -1;
    padding-top: 96px;
}

.content {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    gap: 24px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .grid>* {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }
}