:root {
  --max-page-width: 1120px;
  --page-content-padding: 0 1rem;

  --background-color: #F7F7F7;

  --banner-background-color: #969696;

  --headers-font: 'Rubik';
  --headers-text-color: #34324C;
  --body-font: 'Poppins';
}

html,
body {
  font-family: var(--body-font);
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headers-font);
  color: var(--headers-text-color);
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: #34324C;
}